<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: site-header"></header>

<table th:replace="fragments :: event-table"></table>
<!--<table class="table table-strips">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Name</th>-->
<!--        <th>Description</th>-->
<!--        <th th:replace="eventFragments :: t-head"></th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <th:block th:each="event : ${events}">-->
<!--        <tr>-->
<!--            <td th:text="${event.getKey()}"></td>-->
<!--            <td th:text="${event.getValue()}"></td>-->
<!--            <td th:replace="fragments :: address"></td>-->
<!--        </tr>-->
<!--    </th:block>-->
<!--</table>-->

</body>
</html>