body {
    font-size: 18px;
    color: purple;
    text-align: center;
}
.container{
    margin: 2.5em auto;
}
a:hover{
    text-shadow: 0px 0px 12px green;
}
.table{
    padding: 5px;
    margin-top: 1rem;
    text-align: left;
}
h1 {
    padding: 1.5rem;
}
nav{
text-align: center
margin: 18px;
}
